.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header h1 {
    font-size: 40px;
}

.header_nav {
    margin-right: 2%;
}

.navlink {
    margin-right: 30px;
    font-size: 18px;
    text-decoration: underline 0.5px rgb(103, 103, 103);;
    text-underline-offset: 4px;
}

.navlink:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

@media screen and (min-width: 778px) and (max-width: 992px) {
    .navlink {
        display: none;
    }
}

@media screen and (max-width: 777px) {
    .navlink {
        display: none;
    }
}