.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.navlink { 
    margin-right: 30px;
    font-size: 17px;
    text-decoration: underline 0.5px;
    text-underline-offset: 3px;
}

.navlink:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

