.photographies_introduction {
    width: 60%;
    margin: 30px 0 40px 130px; 
}

.photographies_cards_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

@media screen and (min-width: 778px) and (max-width: 992px) {

    .photographies_series_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .photographies_introduction {
        width: 90%;
        margin: 30px auto 40px auto;
    }
}

 @media screen and (max-width: 777px) {

    .photographies_series_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .photographies_introduction {
        width: 90%;
        margin: 20px auto 40px auto;
    }
 }