.modal_overlay {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal_box {
    display: block;
    background: white;
    width: 70%;
    height: 70%;
    padding: 1rem;
    border-radius: 1rem;
  }

  .modal_image {
    display: block;
    background: white;
    max-height: 55vw;
    max-width: 70vw;
    padding: 3px;
    border-radius: 2px;
  }