@keyframes crossappear {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bars {
    display: none;
    background: none;
    border: none;
    height: 22px;
}

@media screen and (min-width: 778px) and (max-width: 992px) {
    .bars {
        display: flex;
        align-items: center;
    }

    .barclose {
        height: 25px;
    }

    .baropen {
        height: 30px;
        position: absolute;
        top: 15%;
        right: 8%;
        animation: crossappear 0.3s;
    }

}

@media screen and (max-width: 777px) {
    .bars {
        display: flex;
        justify-content: center;
    }
}