.mentions_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto 5% auto;
    width: 60%;
    text-align: justify;
}

@media screen and (max-width: 777px) {
    .mentions_main {
        width: 90%;
    }
}