footer {
    margin-left: 30px;
    font-size: 12px;
    padding-top: 10px;
}

.footerlink {
    margin-left: 1px;
}

.footerlink:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.br_mobile {
    display: none;
}

@media screen and (max-width: 777px) {

    .display_mobile {
        display: none;
    }
    
    .br_mobile {
        display: block;
    }
}