.photos_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 30px auto;
    width: 98%;
    gap: 10px
}

.photos_all {
    height: 450px;
    object-fit: cover;
    flex-grow: 1;
}